.slick-prev::before,
.slick-next:before{
    color: #3778e8;
}
.slick-prev,
.slick-next{
    z-index: 10;
}
.slick-prev{
    left: 12px;
}
.slick-next{
    right: 12px;
}
.slick-dots{
    bottom: 36px;
}
.wrap_slide .slick-prev,
.wrap_slide .slick-next{
    top: 41%;
}
.wrap_slide .slick-next{
    right: -1px;
}
.wrap_slide .slick-prev{
   left: -25px;
}
.wrap_slider_slick{
    height: 710px;
    width: 100%;
}
.wrap_slider_slick .slick-slider{
    width: 100%;
}
.slide_img{
    width: 100%;
}